{% extends "wagtailadmin/login.html" %}

{% load wagtailadmin_tags i18n %}
{% block titletag %}{% trans "Sign in" %}{% endblock %}
{% block bodyclass %}login{% endblock %}

{% block branding_login %}Sign in to DRIVEDEX{% endblock %}

{% block submit_buttons %}
    <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Signing in…' %}"><span class="icon icon-spinner"></span><em>{% trans 'Sign in' %}</em></button>
    <a href="https://www.drivedex.ru" class="button button-longrunning" data-clicked-text="{% trans 'Go to DriveDex' %}"><span class="icon icon-spinner"></span><em>{% trans 'Drivedex' %}</em></a>
{% endblock %}